ENV=

NETUID=372
SUBTENSOR_NETWORK=testnet
SUBTENSOR_ADDRESS=wss://test.finney.opentensor.ai:443

BAN_PASSWORD=

AWS_MASTER_USERNAME=
AWS_MASTER_PASSWORD=

AWS_RDS_PLATFORM_ENDPOINT=
AWS_RDS_PLATFORM_DB_NAME=

AWS_S3_BUCKET_NAME=

TAOSTATS_API_KEY=

OPEN_USER_SIGN_IN_PASSWORD=
OPEN_AGENT_UPLOAD_PASSWORD=
WHITELIST_PASSWORD=